.profile {
	background:orange;
}

/*BALANCE PAGE*/

body.balance {
	background-color: #18292d;
}
.balance h1 {
	color:orange;
	font-size:3em;
}

/*PROGRESS PAGE*/

body.degree {
	background-color: #c8bba6;
}
body.degree div.container {
	padding:30px;
}

.progress{
	width:300px;
}

div.ui.progress.success .bar {
	width:290px;
}

div.ui.indicating.progress .bar {
	width: 190px;
	background-color: darkorange;
}
