.profile {
	background:orange;
}

/*BALANCE PAGE*/

tbody {
	background-color: #18292d;

}
.balance h1 {
	color:firebrick;
	font-size:1.25em;
}
/*STORE PAGE*/
body.store div.container{
	padding:25px 15px;
	color: #c8bba6;
	background-color: #2e302f;

}

.store div.ui.vertical.menu {
	width:300px;
/*WELCOME PAGE*/

body.welcome div.container{
	padding:25px 15px;
	color: #c8bba6;
	background-color: #2e302f;

}
body.welcome h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 4em;
	display:inline-block;
	padding: 15px;
}

body div.column {
	float:right;
}

.welcome .settings.icon {
	font-size: 2em;
}


/*CANVAS PAGE*/

body.canvas div.container{
	background-color: #c8bba6;
	padding:25px 15px;
}

div.ui.vertical.menu {
	width:500px;
}
body.canvas h1 {
	display:none;
}
body.canvas img {
	border-radius: 3px;
}
 body.canvas a {
	font-weight: bold;
	display:inline-block;
}




/*MAIL PAGE*/

body.mail div.container{
	background-color: #c8bba6;
	padding:25px 15px;
}

div.ui.large.vertical.menu {
	width:500px;
}
body.mail h1 {
	display:none;
}
body.mail img {
	border-radius: 3px;
}

/*PROGRESS PAGE*/

body.degree {
	background-color: #c8bba6;
}
body.degree div.container {
	padding:30px;
}

.progress{
	width:300px;
}

div.ui.progress.success .bar {
	width:290px;
}

div.ui.indicating.progress .bar {
	width: 190px;
	background-color: darkorange;
}


